input{
    width: 50%;
    height:30px;
    position: relative;
    left: 29%;
}

h1{
    text-align: center;
}

button{
    position: relative;
    left: 43%;
}

p{
    text-align: center;
    font-size: large;
}

.Box{
    border: 2px solid green;
}